@{
    ViewBag.Title = "connexion";
}

@Scripts.Render("~/Scripts/checkUser.js")

<body>
    <div id="errorMessage"></div>
    <div>
                <form class="form-group">
                    <h2>
                        Identifiez-vous 
                    </h2>
                    <label for="logID"><strong>Identifiant</strong></label>
                    <input type="text" class="form-control" placeholder="Identifiant" name="logID" id="logID"/>

                    <label for="pass"><strong>Mot de passe</strong></label>
                    <input type="text" class="form-control" placeholder="Mot de passe" name="pass" id="pass" />

                    <button class="btn btn-default" id="connexion" value="Se connecter" onclick="checkUserjs()"></button>
                </form>
  
    </div>
</body>

