@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Trouve Ton Pote</h1>
    <p class="lead">Vous êtes débordant d'énergie, vous voulez croquer la vie à pleine dents mais vous ne voulez pas le faire seul ?</p>
    <p><a href="/UserSession/NewEvent" class="btn btn-primary btn-lg">Pourquoi ne pas créer votre propre événement ? &raquo;</a></p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Musée / Exposition</h2>
        <p>
            Aucun de vos amis n'aimes l'art moderne ? Pourquoi ne pas faire la visite avec de vrais connaisseurs en la matière ?
        </p>
        <p><a class="btn btn-default" href="/UserSession/NewEvent">Créer votre propre événement &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Cinéma</h2>
        <p>Personne ne veut aller voir le dernier Jean-Luc Godard en 3D Imax avec vous ? Sur TTP vous trouverez toujours quelqu'un avec les mêmes goûts chelous que vous !</p>
        <p><a class="btn btn-default" href="/UserSession/NewEvent">Créer votre propre événement &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Sport</h2>
        <p>Courir seul c'est louable mais courir à plusieurs c'est plus rigolo</p>
        <p><a class="btn btn-default" href="/UserSession/NewEvent">Créer votre propre événement &raquo;</a></p>
    </div>
</div>