@using Microsoft.AspNet.Identity

    @Html.AntiForgeryToken()

    <ul class="nav navbar-nav navbar-right">
        <li>
        </li>
        <li><a href="">Se déconnecter</a></li>
    </ul>
    }
}
else
{
    <ul class="nav navbar-nav navbar-right">
        <li>@Html.ActionLink("S’inscrire", "newUser", "Home", routeValues: null, htmlAttributes: new { id = "newUserLink" })</li>
        <li>@Html.ActionLink("Se connecter", "connexion", "Home", routeValues: null, htmlAttributes: new { id = "newUserLink" })</li>
    </ul>
}
