@using Microsoft.AspNet.Identity

    <ul class="nav navbar-nav navbar-right">
        <li>@Html.ActionLink("S'inscrire", "newUser", "Home")</li>
        <li>@Html.ActionLink("Se connecter", "connexion", "Home")</li>
    </ul>

