@model System.Web.Mvc.HandleErrorInfo

@{
    ViewBag.Title = "Erreur TTP";
}

<h1 class="text-danger">Erreur.</h1>
<h2 class="text-danger">Excusez nous pour le dérangement mais votre requête ne répond pas.</h2>

